page-welcome {
  .welcome-bg {
    background: url('../assets/img/welcome.jpg') no-repeat transparent;
    background-size: cover;
    position: relative;
  }
  .welcome-opacity{
    background: #10121c;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .welcome-info {
    text-align: center;
    .welcome-logo {
      margin: 40px auto 0;
      width: 140px;
    }
    .welcome-intro {
      color: #FFF;
      font-size: 18px;
      font-weight: bold;
      max-width: 80%;
      margin: auto;
      .title{
        font-size: 2.8rem;
        margin: 10px 0 0;
      }
    }
  }
  .btn-primary-cover{
    background: #FF3353;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin: 25% auto 0;
    width: 80px;
    .login-btn {
      background: #FF3353;
      border-radius: 50%;
      box-shadow: 3px 2px 5px rgba(68, 68, 68, 0.6);
      height: 60px;
      width: 60px;
      color: #FFF;
    }
  }
  .social-btn-container{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    .google-btn{
      background: transparent;
      border: 3px solid #db4437;
      border-radius: 50%;
      font-size: 1.8rem;
      height: 60px;
      width: 60px;
      color: #db4437;
    }
    .facebook-btn{
      background: transparent;
      border: 3px solid #3c5899;
      border-radius: 50%;
      font-size: 1.8rem;
      height: 60px;
      width: 60px;
      color: #3c5899;
    }
  }
  .signup-container{
    color: white;
    font-weight: bold;
    .signup{
      color: #FF3353;
      display: inline-block;
      font-weight: bold;
      height: auto;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }
  }
}
